*{
   /* background-color: #ee3e80; */
   background-color: #FF4136;
   color: #FFFFFF;

}
body{
   font-family: serif;

}
h1{
   font-size: 60px;
   text-align: center;


}
h2{
   font-size: 30px;
}
